<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">

    <div class="row d-flex  my-4">
        <div class="test__block col-lg-6">
            <div class="test__info flex-column">
                <h4>
                    Информация о проведенном тесте
                </h4>
                <h5>
                  Группа:
                  <%= group.group_name %>
              </h5>
                <h5>
                    Дата проведения:
                    <%= new Date(group.trial_date).toLocaleDateString('ru-RU') %> 
                </h5>
                <div class="groupInfo d-flex align-items-center">
                  <a href=<%= `${globalLink}/groups/${group.group_id}` %> class="btn btn-success w-75">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"/>
                          <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"/>
                        </svg>
                        Вернуться на страницу группы
                  </a>
              </div>
            </div>
        </div>
    </div>

    <div class="row d-flex test__block my-4">
        <div class="col">
          <div class="table-responsive-lg">
            <table class="table table-striped table-hover table-bordered border-primary">
                <tr>
                   <th>Имя ученика</th>
                   <th>История Казахстана</th>
                   <th>Грамотность чтения</th>
                   <th>Мат. грамотность</th>
                   <th>Математика</th>
                   <th>Физика</th>
                   <th>География</th>
                   <th>Биология</th>
                   <th>Химия</th>
                </tr>
                <%     results.forEach(function(result) { %>
      
                <tr>
                   <td class="names"><%= result.student_name %></td>
                   <td class="history_kaz_result"><%= Math.round(result.history_kaz_result) %></td>
                   <td class="reading_literacy_chart"><%= Math.round(result.reading_literacy_result) %></td>
                   <td class="math_literacy_result"><%= Math.round(result.math_literacy_result) %></td>
                   <td class="mathematics_result"><%= Math.round(result.mathematics_result) %></td>
                   <td class="physics_result"><%= Math.round(result.physics_result) %></td>
                   <td class="geography_result"><%= Math.round(result.geography_result) %></td>
                   <td class="biology_result"><%= Math.round(result.biology_result) %></td>
                   <td class="chemistry_result"><%= Math.round(result.chemistry_result) %></td>
                </tr>
                <% }); %>
             </table>
             </div>
        </div>

    </div>


    <div class="row d-flex group__block my-4">
        <div class="col py-2">
          <div id="chart">
          </div>
        </div>
    </div> 
    
</div>

<script>

const names = Array.from(document.querySelectorAll('.names')).map((el) => el.innerHTML);
const reading_literacy_result = Array.from(document.querySelectorAll('.reading_literacy_result')).map((el) => el.innerHTML);
const history_kaz_result = Array.from(document.querySelectorAll('.history_kaz_result')).map((el) => el.innerHTML);
const math_literacy_result = Array.from(document.querySelectorAll('.math_literacy_result')).map((el) => el.innerHTML);
const mathematics_result = Array.from(document.querySelectorAll('.mathematics_result')).map((el) => el.innerHTML);
const physics_result = Array.from(document.querySelectorAll('.physics_result')).map((el) => el.innerHTML);
const geography_result = Array.from(document.querySelectorAll('.reading_literacy_result')).map((el) => el.innerHTML);
const biology_result = Array.from(document.querySelectorAll('.reading_literacy_result')).map((el) => el.innerHTML);
const chemistry_result = Array.from(document.querySelectorAll('.reading_literacy_result')).map((el) => el.innerHTML);

    
var options = {
          series: [{
          name: 'Грамотность чтения',
          data: reading_literacy_result
        }, {
          name: 'История Казахстана',
          data: history_kaz_result
        }, {
          name: 'География',
          data: geography_result,
        }, {
          name: 'Математическая грамотность',
          data: math_literacy_result
        }, {
          name: 'Физика',
          data: physics_result
        }, {
          name: 'Математика',
          data: mathematics_result,
        }, {
          name: 'Биология',
          data: biology_result
        }, {
          name: 'Химия',
          data: chemistry_result
        }],
          chart: {
          type: 'bar',
          height: 350,
          stacked: true,
          toolbar: {
            show: true
          },
          zoom: {
            enabled: true
          }
        },
        responsive: [{
          breakpoint: 480,
          options: {
            legend: {
              position: 'bottom',
              offsetX: -10,
              offsetY: 0
            }
          }
        }],
        plotOptions: {
          bar: {
            horizontal: false,
            borderRadius: 10
          },
        },
        xaxis: {
          type: 'string',
          categories: names,
        },
        legend: {
          position: 'right',
          offsetY: 40
        },
        fill: {
          opacity: 1
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();



</script>

<%- include ("../partials/footer.ejs") %>